{% extends 'base.html' %}


{% block main %}
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="field">
      {{ field.label }}
      {{ field }}
    </div>
    {% endfor %}
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
{% endblock %}

<!-- <form method="POST">
  {% csrf_token %}
  <div class="field">
    <label for="hoge">メールアドレス<br />
    {{ form.email }}<br />
  </div>

  <div class="field">
    <label for="hoge">パスワード（◯文字以上）<br />
    {{ form.password1 }}<br />
  </div>

  <div class="field">
    <label for="hoge">パスワード再入力<br />
    {{ form.password2 }}<br />
  </div>

  <div class="field">
    <label for="hoge">ユーザー名<br />
    {{ form.password2 }}<br />
  </div>

  <div class="field">
    <label for="hoge">プロフィール<br />
    {{ form.profile }}<br />
  </div>

  <div class="field">
    <label for="hoge">所属<br />
    {{ form.occupation }}<br />
  </div>

  <div class="field">
    <label for="hoge">役職<br />
    {{ form.occupation }}<br />
  </div>

  <div class="mt-3">
    <button type="submit" class="form__btn">新規登録</button>
  </div>
</form> -->