{% for prototype in prototype_items %}
<div class="card">
  <a href="{% url 'prototypes:detail' prototype.id %}"><img src="{{prototype.image.url}}" alt="#" class="card__img"></a>
  <div class="card__body">
    <a href="{% url 'prototypes:detail' prototype.id %}" class="card__title">{{prototype.title}}</a>
    <p class="card__summary">
      {{prototype.catch_copy}}
    </p>
    <a href="{% url 'accounts:detail' prototype.user.id %}" class="card__user">by {{prototype.user.username}}</a>
  </div>
</div>
{% endfor %}